*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    background:linear-gradient(#140010,#350018,#000);

    color:white;

    font-family:Poppins,sans-serif;

}

.contenedor{

    width:720px;

    text-align:center;

}

.corazon{

    font-size:100px;

    animation:latido 1s infinite;

}

@keyframes latido{

    0%{transform:scale(1);}
    50%{transform:scale(1.2);}
    100%{transform:scale(1);}

}

h1{

    margin:20px 0;

    font-size:46px;

}

p{

    font-size:24px;

    line-height:1.8;

    min-height:180px;

}

button{

    margin-top:20px;

    padding:15px 35px;

    border:none;

    border-radius:40px;

    background:#ff4d88;

    color:white;

    font-size:18px;

    cursor:pointer;

    transition:.3s;

}

button{

    margin-top:25px;

    padding:16px 38px;

    border:none;

    border-radius:50px;

    background:linear-gradient(45deg,#ff2d6f,#ff7eb3);

    color:white;

    font-size:18px;

    font-weight:bold;

    cursor:pointer;

    transition:.35s;

    box-shadow:0 0 20px rgba(255,45,111,.5);

}

button:hover{

    transform:translateY(-4px) scale(1.08);

    box-shadow:0 0 35px rgba(255,45,111,.8);

}

button:active{

    transform:scale(.95);

}