body{

margin:0;
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:linear-gradient(135deg,#120008,#4a001f);
font-family:Georgia,serif;
overflow:hidden;

}


.fondo{

width:100%;
height:100%;
display:flex;
justify-content:center;
align-items:center;

}


.sobre{

position:relative;
width:360px;
height:240px;
background:#b3003b;
border-radius:15px;

}


.tapa{

position:absolute;
width:100%;
height:100%;
background:#ff4d79;
clip-path:polygon(0 0,100% 0,50% 60%);
transition:1s;

}


.carta{

position:absolute;
background:white;
width:300px;
padding:25px;
left:5px;
top:25px;
border-radius:15px;
text-align:center;

opacity:0;
transform:translateY(50px);

transition:1.5s;

max-height:520px;
overflow-y:auto;

}


.abrir .carta{

opacity:1;
transform:translateY(-120px);

}


.abrir .tapa{

transform:rotateX(180deg);

}


h1{

color:#b3003b;

}


h2{

color:#ff3366;

}


p{

line-height:1.5;
color:#333;

}


.final{

font-style:italic;
color:#b3003b;

}

.botones{

margin-top:25px;
display:flex;
flex-direction:column;
gap:15px;

}


.botones button{

padding:12px 20px;
border:none;
border-radius:25px;
background:#b3003b;
color:white;
font-size:16px;
cursor:pointer;

transition:.3s;

}


.botones button:hover{

transform:scale(1.08);

}

.botones{

margin-top:20px;
display:flex;
flex-direction:column;
gap:12px;

}


.botones button{

padding:12px;
border:none;
border-radius:25px;
background:#b3003b;
color:white;
font-size:16px;
cursor:pointer;

}


.botones button:hover{

transform:scale(1.05);

}